
@{
    ViewBag.Title = "Schedule";
}
@{string name = "quan";}
<div class="content-wrapper">
	<div class="container">
		<h4 class="text-center" id="jn-h4-hi">Hi @name</h4>
		<h3 class="text-center">Your schedule</h3>
		<div id="jn-tb-sch" class="table-responsive">

		    <table class="table table-bordered table-hover">
		        <tr class="bg-default">
		            <th class="w-1">
		                #
		            </th>
		            <th class="w-7">
		                Exam Name
		            </th>
		            <th class="w-2">
		                Date of Time
		            </th>
		        </tr>

		       
		        <tr>
		            <td>hello</td>
		            <td>hello</td>
		            <td>hello</td>
		        </tr>
		        <tr>
		            <td>hello</td>
		            <td>hello</td>
		            <td>hello</td>
		        </tr>
		        <tr>
		            <td>hello</td>
		            <td>hello</td>
		            <td>hello</td>
		        </tr>
		        <tr>
		            <td>hello</td>
		            <td>hello</td>
		            <td>hello</td>
		        </tr>
		        <tr>
		            <td>hello</td>
		            <td>hello</td>
		            <td>hello</td>
		        </tr>
		        <tr>
		            <td>hello</td>
		            <td>hello</td>
		            <td>hello</td>
		        </tr>
		        <tr>
		            <td>hello</td>
		            <td>hello</td>
		            <td>hello</td>
		        </tr>
		        <tr>
		            <td>hello</td>
		            <td>hello</td>
		            <td>hello</td>
		        </tr>
		        <tr>
		            <td>hello</td>
		            <td>hello</td>
		            <td>hello</td>
		        </tr>
		        <tr>
		            <td>hello</td>
		            <td>hello</td>
		            <td>hello</td>
		        </tr>

		    </table>
		</div>
		<nav aria-label="Page navigation example" style="margin: 0 auto; width: max-content;">
		    <ul class="pagination">
		        <li class="page-item">
		            <a class="page-link" href="#" aria-label="Previous">
		                <span aria-hidden="true">«</span>
		                <span class="sr-only">Previous</span>
		            </a>
		        </li>
		        <li class="page-item"><a class="page-link" href="#">1</a></li>
		        <li class="page-item">
		            <a class="page-link" href="#" aria-label="Next">
		                <span aria-hidden="true">»</span>
		                <span class="sr-only">Next</span>
		            </a>
		        </li>
		    </ul>
		</nav>
	</div>
</div>

<style>
	.content-wrapper{
		border: #f2f8f9 solid;
		border-top-width: 1.5rem;
		border-left-width: 1.7rem;
		border-right-width: 1.7rem;
		padding: 0;
		background: white
	}
	#jn-h4-hi	{
		margin-top: 50px;
	}
	#jn-tb-sch
	{
		margin-bottom: 35px;
	}
</style>