@{
    ViewBag.Title = "Home Page";
}
<div class="content-wrapper">
    <div class="card">
        <div class="card-body" style="min-height: 580px">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card" style="border: 1px solid rgba(0, 0, 0, 0.125)">
                        <div class="card-header">
                            <span style="color: red">
                                10 Senior .NET Developers - Up to $1700
                            </span>
                        </div>
                        <div class="card-body">

                            <h4>Top 3 Reasons To Join Us</h4>
                            <ul>
                                <li>
                                    Onsite in other countries
                                </li>
                                <li>
                                    Salary review 2 times/year
                                </li>
                                <li>
                                    Work with best developers
                                </li>
                            </ul>

                            <h4>The Job</h4>
                            <ul>
                                <li>
                                    Receive and analyze requirements in local team with support and assignment from team leaders.
                                </li>
                                <li>
                                    Develop enterprise application for customer worldwide.
                                </li>
                                <li>
                                    Responsible for quality of product, quality of code.
                                </li>
                                <li>
                                    Communicate with customer under supervision of team leader.
                                </li>
                            </ul>

                            <h4>Your Skills and Experience</h4>
                            <ul>
                                <li>
                                    Have knowledge of web technology.
                                </li>
                                <li>
                                    Strong at OOP, object oriented design and analysis. Can understand and apply design pattern.
                                </li>
                                <li>
                                    Have knowledge of .NET and CQRS/ES, Virtual DOM, Kafka, NoSQL, Azure, Typescript.
                                </li>
                                <li>
                                    Open mind, good logical thinking and pro-active.
                                </li>
                            </ul>

                        </div>
                    </div>

                    <div class="card" style="border: 1px solid rgba(0, 0, 0, 0.125); margin-top: 15px">
                        <div class="card-header">
                            <span style="color: red">
                                5 Senior Nodejs Developers
                            </span>
                        </div>
                        <div class="card-body">

                            <h4>Top 3 Reasons To Join Us</h4>
                            <ul>
                                <li>
                                    Onsite in other countries
                                </li>
                                <li>
                                    Salary review 2 times/year
                                </li>
                                <li>
                                    Work with best developers
                                </li>
                            </ul>

                            <h4>The Job</h4>
                            <ul>
                                <li>
                                    Receive and analyze requirements in local team with support and assignment from team leaders.
                                </li>
                                <li>
                                    Develop enterprise application for customer worldwide.
                                </li>
                                <li>
                                    Responsible for quality of product, quality of code.
                                </li>
                                <li>
                                    Communicate with customer under supervision of team leader.
                                </li>
                            </ul>

                            <h4>Your Skills and Experience</h4>
                            <ul>
                                <li>
                                    Have knowledge of web technology.
                                </li>
                                <li>
                                    Strong at OOP, object oriented design and analysis. Can understand and apply design pattern.
                                </li>
                                <li>
                                    Have knowledge of .NET and CQRS/ES, Virtual DOM, Kafka, NoSQL, Azure, Typescript.
                                </li>
                                <li>
                                    Open mind, good logical thinking and pro-active.
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card" style="border: 1px solid rgba(0, 0, 0, 0.125)">
                        <div class="card-header">
                            <span style="color: red">
                                3 Frontend Dev (JavaScript, HTML5, ReactJS)
                            </span>
                        </div>
                        <div class="card-body">

                            <h4>Top 3 Reasons To Join Us</h4>
                            <ul>
                                <li>
                                    Onsite in other countries
                                </li>
                                <li>
                                    Salary review 2 times/year
                                </li>
                                <li>
                                    Work with best developers
                                </li>
                            </ul>

                            <h4>The Job</h4>
                            <ul>
                                <li>
                                    Develop web application for E-commerce system.
                                </li>
                                <li>
                                    Push the boundaries of excellent front-end development, using the latest web technologies.
                                </li>
                                <li>
                                    Collaborate with designers to build UI/UX competency across the teams, and be proactively involved in the design stages.
                                </li>
                                <li>
                                    We’re looking for someone with both the designing and programming mindsets.
                                </li>
                            </ul>

                            <h4>Your Skills and Experience</h4>
                            <ul>
                                <li>
                                    Have knowledge of web technology.
                                </li>
                                <li>
                                    Develop mobile and desktop friendly web application using both Javascript/HTML/CSS and ReactJS, Redux
                                </li>
                                <li>
                                    Experience building large-scale JavaScript applications
                                </li>
                                <li>
                                    Open mind, good logical thinking and pro-active.
                                </li>
                            </ul>

                        </div>
                    </div>


                    <div class="card" style="border: 1px solid rgba(0, 0, 0, 0.125); margin-top: 15px">
                        <div class="card-header">
                            <span style="color: red">
                                2 Project Manager
                            </span>
                        </div>
                        <div class="card-body">

                            <h4>Top 3 Reasons To Join Us</h4>
                            <ul>
                                <li>
                                    Onsite in other countries
                                </li>
                                <li>
                                    Salary review 2 times/year
                                </li>
                                <li>
                                    Work with best developers
                                </li>
                            </ul>

                            <h4>The Job</h4>
                            <ul>
                                <li>
                                    Develop web application for E-commerce system.
                                </li>
                                <li>
                                    Push the boundaries of excellent front-end development, using the latest web technologies.
                                </li>
                                <li>
                                    Collaborate with designers to build UI/UX competency across the teams, and be proactively involved in the design stages.
                                </li>
                                <li>
                                    We’re looking for someone with both the designing and programming mindsets.
                                </li>
                            </ul>

                            <h4>Your Skills and Experience</h4>
                            <ul>
                                <li>
                                    Have knowledge of web technology.
                                </li>
                                <li>
                                    Develop mobile and desktop friendly web application using both Javascript/HTML/CSS and ReactJS, Redux
                                </li>
                                <li>
                                    Experience building large-scale JavaScript applications
                                </li>
                                <li>
                                    Open mind, good logical thinking and pro-active.
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
