
@{
    ViewBag.Title = "Begin";
}


<h2 class="text-center">Welcome to Aptitude Online Test!</h2>
<div style="width: 20%; margin: 30px auto 20px auto">
    <button type="submit" class="btn btn-success" style="font-size: 1.5rem; width: 100%">Start Perform Test</button>
</div>

