@model IEnumerable<AptitudeTestOnline.Models.ExamModels>

@{
    ViewBag.Title = "Perform Test";
}

<style>

    .perform-test {
        height: 380px;
        overflow-y: scroll;
        margin-top: 20px;
    }
</style>


<h4 class="text-right">
    <span style="font-weight: bold; text-decoration: underline">Time remaining:</span>
    <span style="font-size: 1.5rem"> 08:30s</span>
</h4>

<div class="form-group row">
    <div class="col-md-12">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" style="color: blue" id="nav-home-tab" data-toggle="tab" href="#general-knowledge" role="tab">General Knowledge</a>
                <a class="nav-item nav-link disabled" id="nav-profile-tab" data-toggle="tab" href="#mathematics" role="tab">Mathematics</a>
                <a class="nav-item nav-link disabled" id="nav-contact-tab" data-toggle="tab" href="#computer-technology" role="tab">Computer Technology</a>
            </div>
        </nav>
        <div class="tab-content perform-test" id="nav-tabContent">
            <div class="tab-pane fade show active" id="general-knowledge" role="tabpanel" style="margin-top: 20px;">


                <div class="form-group">

                    <h4>
                        <span style="font-weight: bold; text-decoration: underline">Question 1:</span>
                        What is HTML?
                    </h4>

                    <div class="form-radio form-radio-flat">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="" checked> (A). Hyper Text Markup Language
                        </label>
                    </div>

                    <div class="form-radio form-radio-flat">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2"> (B). Hight Text Markup Language
                        </label>
                    </div>

                    <div class="form-radio form-radio-flat">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2"> (C). Hight Text Message Language
                        </label>
                    </div>


                    <div class="form-radio form-radio-flat">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2"> (C). Hyper Text Message Language
                        </label>
                    </div>
                </div>

                <div class="form-group">

                    <h4>
                        <span style="font-weight: bold; text-decoration: underline">Question 1:</span>
                        What is HTML?
                    </h4>

                    <div class="form-radio form-radio-flat">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="" checked> (A). Hyper Text Markup Language
                        </label>
                    </div>

                    <div class="form-radio form-radio-flat">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2"> (B). Hight Text Markup Language
                        </label>
                    </div>

                    <div class="form-radio form-radio-flat">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2"> (C). Hight Text Message Language
                        </label>
                    </div>


                    <div class="form-radio form-radio-flat">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2"> (C). Hyper Text Message Language
                        </label>
                    </div>
                </div>

                <div class="form-group">

                    <h4>
                        <span style="font-weight: bold; text-decoration: underline">Question 1:</span>
                        What is HTML?
                    </h4>

                    <div class="form-radio form-radio-flat">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="" checked> (A). Hyper Text Markup Language
                        </label>
                    </div>

                    <div class="form-radio form-radio-flat">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2"> (B). Hight Text Markup Language
                        </label>
                    </div>

                    <div class="form-radio form-radio-flat">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2"> (C). Hight Text Message Language
                        </label>
                    </div>


                    <div class="form-radio form-radio-flat">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2"> (C). Hyper Text Message Language
                        </label>
                    </div>
                </div>

                <div class="form-group">

                    <h4>
                        <span style="font-weight: bold; text-decoration: underline">Question 4:</span>
                        What is HTML? (2 mark)
                    </h4>

                    <div class="form-radio form-radio-flat">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="" checked> (A). Hyper Text Markup Language
                        </label>
                    </div>

                    <div class="form-radio form-radio-flat">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2"> (B). Hight Text Markup Language
                        </label>
                    </div>

                    <div class="form-radio form-radio-flat">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2"> (C). Hight Text Message Language
                        </label>
                    </div>


                    <div class="form-radio form-radio-flat">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2"> (C). Hyper Text Message Language
                        </label>
                    </div>
                </div>

                <div class="form-group">

                    <h4>
                        <span style="font-weight: bold; text-decoration: underline">Question 5:</span>
                        What is CSS? (3 mark)
                    </h4>

                    <div class="form-radio form-radio-flat">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="Q5" id="optionsRadios1" value="" checked> (A). Customs Style Sheets
                        </label>
                    </div>

                    <div class="form-radio form-radio-flat">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="Q5" id="optionsRadios2" value="option2"> (B). Cascading Super Sheets
                        </label>
                    </div>

                    <div class="form-radio form-radio-flat">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="Q5" id="optionsRadios2" value="option2"> (C). Cascading Style Sheets
                        </label>
                    </div>


                    <div class="form-radio form-radio-flat">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="Q5" id="optionsRadios2" value="option2"> (C). Customs Super Sheets
                        </label>
                    </div>
                </div>

            </div>

            <div class="tab-pane fade" id="mathematics" role="tabpanel" aria-labelledby="nav-profile-tab">

            </div>

            <div class="tab-pane fade" id="computer-technology" role="tabpanel" aria-labelledby="nav-contact-tab">

            </div>
        </div>
    </div>
</div>

<input type="submit" value="Next" class="btn btn-success mr-2 float-right" />
