@{
    ViewBag.Title = "Begin";
}

<style>
    .btn-begin {
        font-size: 1.5rem;
        width: 100%
    }

    .link-direct {
        font-size: 24px;
        text-align: center;
    }
</style>

<div class="content-wrapper">
    <div class="card">
        <div class="card-body" style="min-height: 580px">
            <h2 class="text-center">Welcome to Aptitude Online Test!</h2>
            <p class="text-center" style="font-size: 26px; color: forestgreen">@ViewBag.CheckText</p>
            <p class="link-direct"><a href="/Result">@ViewBag.CheckLink</a></p>
            <div style="width: 20%; margin: 30px auto 20px auto">
                @if (ViewBag.CheckDate == true)
                {
                    @Html.ActionLink("Start Perform Test", "Begin", "PerformTest", null, htmlAttributes: new { @class = "btn btn-success btn-begin" })
                }
            </div>
        </div>
    </div>
</div>