@model AptitudeTestOnline.Models.DetailsRegistrations

@{
    ViewBag.Title = "Result";
}


<div class="content-wrapper">
    <div class="card">
        <div class="card-body" style="min-height: 580px">

            <div class="row">
                <div class="offset-sm-3 col-sm-6">

                    <div class="card">
                        <h5 class="card-header">Featured</h5>
                        <div class="card-body">
                            <h5 class="card-title text-center">Result exam test</h5>
                            <p>You have : @Html.DisplayFor(item => item.Mark)</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


