@model IEnumerable<AptitudeTestOnline.Models.ExamModels>

@{
    ViewBag.Title = "Index";
}

<div class="row mb-3">
    <div class="col-2">
        <a class="btn btn-success btn-block" href="/Manager/Exam/Create">
            Create
            <i class="fas fa-plus"></i>
        </a>
    </div>
</div>

<div class="table-responsive">

    <table class="table table-bordered table-hover">
        <tr class="bg-default">
            <th class="w-1">
                #
            </th>
            <th class="w-6">
                Exam Name
            </th>
            <th class="w-2">
                Description
            </th>
            <th class="w-1">
                Tools
            </th>
        </tr>

        @{int i = 1;}
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <p>@i</p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExamName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.ExamID }, htmlAttributes: new { @class = "fas fa-edit btn-admin" })
                </td>
            </tr>
            i++;
        }

    </table>
</div>

<nav aria-label="Page navigation example" style="margin: 0 auto; width: 25%;">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>
