.nav-item a {
    height: 63px;
    font-size: 12px;
    padding: 16px 25px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    color: inherit;
    vertical-align: middle;
    text-decoration: none;
}

.client .sidebar-offcanvas {
    display: none;
}

.client .main-panel {
    width: 100%;
}

.auth.theme-one .auto-form-wrapper .form-group .input-group .form-control {
    border-radius: 6px !important;
    border: 1px solid #e5e5e5 !important;
}

.mr-t10 {
    margin-top: 10px !important;
}

@media screen and (max-width: 991px) {
    .client .sidebar-offcanvas {
        display: block;
    }
}
