
@{
    ViewBag.Title = "Result";
}
<div class="content-wrapper">
    <div class="container">
        <h4 class="text-center" id="jn-h4-hi">Hi <a href="/Manage">@ViewData["myname"]</a></h4>
        <h3 class="text-center">@ViewData["mymark"]</h3>
    </div>
</div>

<style>
    .content-wrapper {
        border: #f2f8f9 solid;
        border-top-width: 1.5rem;
        border-left-width: 1.7rem;
        border-right-width: 1.7rem;
        padding: 0;
        background: white
    }

    #jn-h4-hi {
        margin-top: 50px;
    }
</style>